/* Header Component */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(245, 142, 63);
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 60px;
}
.logo span{
  margin: 0 0 10px 20px;
  font-size: 50px;  
  font-family: monospace;
}
.nav-item ul {
  display: flex;
  gap: 15px;
}

.nav-item li {
  padding: 6px 10px;
  align-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-item li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.login-btn {
  padding:  10px 15px;
  background-color: rgb(151, 86, 39);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: rgb(205, 50, 50);
}
